[class~=sisodia-dropzone][class~=border-primary],
[class~=sisodia-dropzone]:hover {
    background-color: #e9ecef;
}

[class~=sisodia-dropzone][class~=border-primary],
[class~=sisodia-dropzone]:hover {
    border-left-color: #007bff;
}

[class~=sisodia-dropzone] {
    border-left-width: 1.5pt;
}

[class~=sisodia-dropzone] {
    border-bottom-width: 1.5pt;
}

[class~=sisodia-dropzone][class~=border-primary],
[class~=sisodia-dropzone]:hover {
    border-bottom-color: #007bff;
}

[class~=sisodia-dropzone][class~=border-primary],
[class~=sisodia-dropzone]:hover {
    border-right-color: #007bff;
}

[class~=sisodia-dropzone]:hover,
[class~=sisodia-dropzone][class~=border-primary] {
    border-top-color: #007bff;
}

[class~=sisodia-dropzone] {
    border-right-width: 1.5pt;
}

[class~=sisodia-dropzone] {
    border-top-width: 1.5pt;
}

[class~=sisodia-dropzone] [class~=url-input-container] input,
[class~=sisodia-dropzone] [class~=preview-item] img {
    width: 100%;
}

[class~=sisodia-dropzone] {
    border-left-style: dashed;
}

[class~=sisodia-dropzone] [class~=preview-item],
[class~=sisodia-dropzone] [class~=preview-container] {
    display: flex;
}

[class~=sisodia-dropzone] [class~=preview-item] img,
[class~=sisodia-dropzone] [class~=preview-item] {
    height: auto;
}

[class~=sisodia-dropzone] [class~=preview-container] {
    overflow-x: auto;
}

[class~=sisodia-dropzone] [class~=preview-item] img {
    object-fit: cover;
}

[class~=sisodia-dropzone] [class~=preview-container] {
    gap: 11.25pt;
}

[class~=sisodia-dropzone] [class~=preview-item] img,
[class~=sisodia-dropzone] [class~=preview-item] {
    border-radius: .083333333in;
}

[class~=sisodia-dropzone],
[class~=sisodia-dropzone] [class~=preview-container] {
    padding-left: 15pt;
}

[class~=sisodia-dropzone],
[class~=sisodia-dropzone] [class~=preview-container] {
    padding-bottom: 15pt;
}

[class~=sisodia-dropzone] [class~=preview-container] {
    padding-right: 15pt;
}

[class~=sisodia-dropzone] [class~=preview-container] {
    padding-top: 15pt;
}

[class~=sisodia-dropzone] [class~=preview-container] {
    scroll-snap-type: x mandatory;
}

[class~=sisodia-dropzone] [class~=preview-container] {
    -webkit-overflow-scrolling: touch;
}

[class~=sisodia-dropzone] [class~=preview-item] {
    flex-shrink: 0;
}

[class~=sisodia-dropzone] {
    border-bottom-style: dashed;
}

[class~=sisodia-dropzone] [class~=preview-item] {
    width: 7.5pc;
}

[class~=sisodia-dropzone] [class~=preview-item] {
    width: 6.25pc;
}

[class~=sisodia-dropzone] {
    border-right-style: dashed;
}

[class~=sisodia-dropzone] [class~=preview-item] {
    height: 100px;
}

[class~=sisodia-dropzone] [class~=preview-item] {
    scroll-snap-align: center;
}

[class~=sisodia-dropzone] [class~=preview-item] {
    position: relative;
}

.sisodia-dropzone .remove-btn,
[class~=sisodia-dropzone] [class~=preview-item] {
    align-items: center;
}

.sisodia-dropzone .remove-btn,
[class~=sisodia-dropzone] [class~=preview-item] {
    justify-content: center;
}

[class~=sisodia-dropzone] {
    border-top-style: dashed;
}

[class~=sisodia-dropzone] {
    border-left-color: #6c757d;
}

[class~=sisodia-dropzone] {
    border-bottom-color: #6c757d;
}

[class~=sisodia-dropzone] [class~=preview-item] {
    overflow: hidden;
}

[class~=sisodia-dropzone] [class~=preview-item] {
    background-color: #f9f9f9;
}

[class~=sisodia-dropzone] {
    border-right-color: #6c757d;
}

[class~=sisodia-dropzone] [class~=preview-item] {
    transition: transform .3s ease;
}

.sisodia-dropzone .remove-btn {
    position: absolute;
}

.sisodia-dropzone .remove-btn {
    top: .3125pc;
}

[class~=sisodia-dropzone] {
    border-top-color: #6c757d;
}

[class~=sisodia-dropzone] [class~=preview-item]:hover {
    transform: scale(1.05);
}

.sisodia-dropzone .remove-btn {
    right: 5px;
}

.sisodia-dropzone .remove-btn {
    color: #fff;
}

.sisodia-dropzone .remove-btn {
    border-left-width: medium;
}

.sisodia-dropzone .remove-btn {
    border-bottom-width: medium;
}

[class~=sisodia-dropzone] {
    border-image: none;
}

[class~=sisodia-dropzone] {
    border-radius: 7.5pt;
}

.sisodia-dropzone .remove-btn {
    border-right-width: medium;
}

.sisodia-dropzone .remove-btn {
    border-top-width: medium;
}

.sisodia-dropzone .remove-btn {
    border-left-style: none;
}

.sisodia-dropzone .remove-btn {
    border-bottom-style: none;
}

.sisodia-dropzone .remove-btn {
    border-right-style: none;
}

.sisodia-dropzone .remove-btn {
    border-top-style: none;
}

.sisodia-dropzone .remove-btn {
    border-left-color: currentColor;
}

.sisodia-dropzone .remove-btn {
    border-bottom-color: currentColor;
}

.sisodia-dropzone .remove-btn {
    border-right-color: currentColor;
}

.sisodia-dropzone .remove-btn {
    border-top-color: currentColor;
}

.sisodia-dropzone .remove-btn {
    border-image: none;
}

.sisodia-dropzone .remove-btn {
    border-radius: 50%;
}

.sisodia-dropzone .remove-btn {
    width: 1.5pc;
}

.sisodia-dropzone .remove-btn {
    height: 18pt;
}

.sisodia-dropzone .remove-btn {
    display: flex;
}

[class~=sisodia-dropzone] {
    padding-right: 1.25pc;
}

.sisodia-dropzone .remove-btn {
    font-size: 10.5pt;
}

.sisodia-dropzone .remove-btn,
[class~=sisodia-dropzone] {
    cursor: pointer;
}

[class~=sisodia-dropzone] [class~=url-input-container] {
    display: none;
}

[class~=sisodia-dropzone] [class~=url-input-container],
[class~=sisodia-dropzone] [class~=sisodia-dropzone-message] {
    margin-top: .104166667in;
}

[class~=sisodia-dropzone] [class~=sisodia-dropzone-message] {
    font-size: 1.1rem;
}

[class~=sisodia-dropzone] [class~=sisodia-dropzone-message] {
    font-weight: 700;
}

[class~=sisodia-dropzone] {
    padding-top: 1.25pc;
}

[class~=sisodia-dropzone] {
    text-align: center;
}

[class~=sisodia-dropzone] {
    transition: all .3s ease-in-out;
}

[class~=sisodia-dropzone] {
    position: relative;
}

[class~=sisodia-dropzone] {
    background-color: #f8f9fa;
}
